
#map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.controls_mod {
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
#panel-mod {
    border: 1px solid transparent;
    margin-top: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    margin-left: -1px;
    padding-left: 14px;
}

#origin-input, #destination-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 100%;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#origin-input:focus, #destination-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px; /* Regular padding-left + 1. */
    width: 100%;
}
.btn{
    margin-top: 16px;
    font-family: Roboto;
}
#results{
    font-family: Roboto;
    font-size: 15px;
}

#loading{
    z-index:1;
    position: absolute;
    height:100%;
    width:100%;
    background-color:black;
    opacity:.6;
    align-items: center;
    justify-content: center;
    display:flex
}
